# ML Libraries
torch
datasets
transformers
tokenizers
sentence-transformers

# Training and Evaulation
scikit-learn
accelerate
evaluate
umap-learn

# Data Processing
pandas
openpyxl
numpy

# Visualization
matplotlib
plotly
seaborn


# API Development
fastapi
uvicorn
pydantic

#Utilties
tqdm
requests
overrides
python-dotenv